.search-bar {
    width: 58.875rem;
}

.cart {
    display: flex;
    flex-direction: row;
    .quantity-products {
        width: 1.125rem;
        height: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F8475F;
        border-radius: 90px;
        color: white;
        font-size: .9rem;
    }
}

@media (max-width: 1400) {
    .search-bar {
        width: 47.875rem;
    }
}

@media (max-width: 1024px) {
    .search-bar {
        width: 36.875rem;
    }
}

@media (max-width: 768px) {
    .search-bar {
        width: 42.875rem;
    }
}

@media (max-width: 560px) {
    .search-bar {
        width: 22.875rem;
    }
}

@media (max-width: 425px) {
    .search-bar {
        width: 24.875rem;
    }
}

@media (max-width: 395px) {
    .search-bar {
        width: 21.875rem;
    }
}

@media (max-width: 320px) {
    .search-bar {
        width: 17.875rem;
    }
}